/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* variables */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card styling */
.card {
    width: 28rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    padding-bottom: 4rem;
    background-color: var(--white);
    box-shadow: 0.4rem 0.4rem 2rem hsl(220deg 15% 55% / 50%);
}

.card > img {
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: inherit;
}

.card h3 {
    line-height: 1.2;
    font-size: 1.8rem;
    margin: 1.2rem 0.7rem;
    color: var(--dark-blue);
}

.card p {
    line-height: 1.2;
    font-size: 1.5rem;
    color: var(--grayish-blue);
}